body {
  font-family: 'Roboto', sans-serif;
  background: #cccccc;
  margin: 15px 10%;
}

/*FORM*/
input[type="text"] {
  font-size: 14pt;
  padding: 5px 12px;
  margin-bottom: 15px;
}

label {
  font-size: 14pt;
}
